* {
  box-sizing: border-box; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 930) {
  .container {
    width: 910px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 12.5%; }

.col-xs-2 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 25%; }

.col-xs-3 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 37.5%; }

.col-xs-4 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 50%; }

.col-xs-5 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 62.5%; }

.col-xs-6 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 75%; }

.col-xs-7 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 87.5%; }

.col-xs-8 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 100%; }

@media (min-width: 768px) {
  .col-sm-1 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 10%; }

  .col-sm-2 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 20%; }

  .col-sm-3 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 30%; }

  .col-sm-4 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 40%; }

  .col-sm-5 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 50%; }

  .col-sm-6 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 60%; }

  .col-sm-7 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 70%; }

  .col-sm-8 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 80%; }

  .col-sm-9 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 90%; }

  .col-sm-10 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 100%; } }
@media (min-width: 930px) {
  .col-md-1 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 8.33333%; }

  .col-md-2 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 16.66666%; }

  .col-md-3 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 24.99999%; }

  .col-md-4 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 33.33332%; }

  .col-md-5 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 41.66665%; }

  .col-md-6 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 49.99998%; }

  .col-md-7 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 58.33331%; }

  .col-md-8 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 66.66664%; }

  .col-md-9 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 74.99997%; }

  .col-md-10 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 83.3333%; }

  .col-md-11 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 91.66663%; }

  .col-md-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 99.99996%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 8.33333%; }

  .col-lg-2 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 16.66666%; }

  .col-lg-3 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 24.99999%; }

  .col-lg-4 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 33.33332%; }

  .col-lg-5 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 41.66665%; }

  .col-lg-6 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 49.99998%; }

  .col-lg-7 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 58.33331%; }

  .col-lg-8 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 66.66664%; }

  .col-lg-9 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 74.99997%; }

  .col-lg-10 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 83.3333%; }

  .col-lg-11 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 91.66663%; }

  .col-lg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 99.99996%; } }
.dd {
  height: 30px;
  background: lightblue;
  border: 1px solid black; }

/*# sourceMappingURL=12.css.map */
