* {
    box-sizing: border-box;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@each $i,$v in (768px:750px,930:910px,1200px:1170px) {
    @media (min-width:$i) {
        .container {
            width:$v;
        }
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

@mixin col {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

@each $i in (1,2,3,4,5,6,7,8) {
    .col-xs-#{$i} {
        @include col;
        width:12.5% * $i;
    }
}


@media (min-width:768px) {
    @each $i in (1,2,3,4,5,6,7,8,9,10) {
        .col-sm-#{$i} {
            @include col;
            width:10% * $i;
        }
    }
}

@media (min-width:930px) {
    @each $i in (1,2,3,4,5,6,7,8,9,10,11,12) {
        .col-md-#{$i} {
            @include col;
            width:8.33333% * $i;
        }
    }
}

@media (min-width:1200px) {
    @each $i in (1,2,3,4,5,6,7,8,9,10,11,12) {
        .col-lg-#{$i} {
            @include col;
            width:8.33333% * $i;
        }
    }
}

.dd {
    height: 30px;
    background: lightblue;
    border: 1px solid black;
}


